{% extends index.html %}

{% block main %}
<div id="archives">
    <div id="article">
        {% for item in archives %}
            <div>
                <h1 class="overviewTitle"><a href="/a/{{ item['slug'] }}">{{ item['title'] }}</a></h1>
                <div class="overviewContent">{% raw item['overview'] %}</div>
            </div>
        {% end %}
    </div>
    {% if preLink %}
    <a href="{{ preLink }}" id="prePage">上一页</a>
    {% end %}
    {% if nextLink %}
    <a href="{{ nextLink }}" id="nextPage">下一页</a>
    {% end %}
</div>
{% end %}