<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>{{ pageTitle }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/typo.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="shortcut icon" href="/{{ faviconLink }}" type="image/vnd.microsoft.icon">
    <link rel="icon" href="/{{ faviconLink }}" type="image/vnd.microsoft.icon">
</head>
<body>
<div id="firstDiv">
    <img id="headPic" src="/{{ headPicLink }}">
    <div id="blogName"><a href="/">{{ blogName }}</a></div>
    <div id="fAdd1"></div>
    <div id="fAdd2"></div>
    <div id="date">
        <div class="categoryTitle">日期归档</div>
        <div class="list">
            {% for item in dates %}
                <a href="{{ escape(item[0]) }}">{{ escape(item[1]) }}</a>
            {% end %}
        </div>
    </div>
    <div id="fAdd3"></div>
    <div id="fAdd4"></div>
    <div id="fAdd5"></div>
</div>
<div id="lastDiv">
    {% block main %}{% end %}
    <div id="lAdd1"></div>
    <div id="lAdd2"></div>
    <div id="lAdd3"></div>
    <div id="lAdd4"></div>
</div>
<div id="mainAdd1"></div>
<div id="mainAdd2"></div>
<div id="mainAdd3"></div>
<div id="mainAdd4"></div>
</body>
<script type="text/javascript" src="/static/js/main.js"></script>
</html>
